/*FONTS DO PROJETO*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100vh;
    background:rgb(8, 11, 41);
    color:#fff;
}
section#create-app{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:40vh;
}
#create-app > div{
    display:flex;
    justify-content:left;
    align-items:center;
    width:34%;
    border-radius:3px;
    font-family:"Poppins",sans-serif;
}
#create-app > div:nth-child(1){
    position:absolute;
    top:10vh;
}
#create-app > div:nth-child(2){
    background:rgb(8, 11, 41);
    padding:0;
    position:absolute;
    top:25vh;
    margin:15px 0px 0px 0px;
    padding:0px 10px;
}
@media(max-width:700px){
    #create-app > div{
        width:70%;
    }
}
div#icons{
    display:flex;
    justify-content:space-between;
    background:none;
}
input{
    outline: none;
    background:none;
    color:#fff;
    border:none;
    text-align:left;
    font-family:"Playwrite HR Lijeva",cursive;
}
#text{
    font-size:15px;
    text-align:center;
    width:100%;
    height:50px;
}
#checkbox{
    appearance:none;
    background-color:rgb(18, 21, 54);
    width:24px;
    height:20px;
    border-radius:50%;
    margin-right:15px;
}
#checkbox:hover{
    cursor:pointer;
}
#checkbox:checked{
    background:rgb(26, 37, 87);
}
.tema{
    background:white;
    transition:.2s;
}
#lista{
    position:relative;
    color:white;
    display:flex;
    flex-direction:column;
    position:absolute;
    top:45vh;
    width:60%;
}
i{
    display:flex;
    align-items:center;
    justify-content:space-around;
    width:100%;
    font-size:13px;
    padding:10px 0px;
    color:rgb(11, 92, 212);
    font-family:"Playwrite HR Lijeva",cursive;
}
i>img{
    scale:.7;
}
.cross:hover{
    cursor:pointer;
}
button#add{
    position:relative;
    left:10px;
    width:60px;
    height:50px;
    background:none;
    color:rgb(48, 36, 161);
    font-weight:bold;
    text-align:center;
    border:none;
    border-radius:10px 0px 0px 0px;
}
button#add:hover{
    background:#e7e7e7;
    opacity:.8;
    cursor:pointer;
}
#tarefas{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column-reverse;
    background:rgb(6, 8, 29);
    box-shadow:0px 5px 9px rgb(5, 3, 24);
    width:100%;
    padding:3px 3px;
    border-radius:8px;
}
#config{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
    height:50px;
}
#config > button{
    padding:5px;
    background:none;
    color:#ffffffa1;
    border:none;
    font-size:.7rem;
}
#config > button:nth-child(1){
    margin-left:7px;
}
#config > button:nth-child(2){
    margin-right:7px;
}
#config_two{
    display:flex;
    align-items:center;
    justify-content:space-around;
    position:relative;
    width:100%;
    height:50px;
    background:rgba(3, 5, 22, 0.664);
    border-radius:10px;
    margin:25px 0px 0px 0px;
}
#config_two > button{
    border:none;
    background:none;
    color:#ffffffa1;
    font-weight:bold;
    font-size:13px;
    width:70px;
    height:100%;
}
#config_two > button:hover{
    color:rgb(13, 82, 209);
}
#information{
    color:#ffffffa1;
    font-size:8px;
    margin-top:50px;
}